* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.header {
    background-color: #6a994e;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#brand {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.navbar {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar li {
    padding: 5px;
    margin-left: 10px;
}

.nav-social-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-social-links li {
    padding: 5px;
    margin-left: 10px;
    font-size: 1.5em;
}

#nav-menu {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#nav-menu-button {
    background-color: inherit;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
}

#nav-menu-button i {
    font-size: 2em;
}

.open #nav-menu-button {
    color: white;
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    list-style: none;
    align-items: center;
    display: none;
    background-color: #394f49;
    position: absolute;
    top: 8vh;
    left: 0;
    height: 92vh;
    width: 100%;
    color: white;
}

.mobile-menu li {
    padding: 5px;
    margin-left: 10px;
    font-size: 1.5em;
}

.mobile-social-links {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .nav-social-links {
        display: none;
    }

    #nav-menu {
        display: block;
    }


}








.header-social-links {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
}

.header-social-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.header-social-links i {
    width: 1em;
    font-size: 2em;
    color: white;
    transition-duration: 0.2s;
}

.header-social-links i:hover {
    color: black;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #d7d3dc;
}

.footer {
    background-color: #03440c;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer-inner {
    width: 70%;
    margin: auto auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: .5em;
}

.footer-social-links {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.footer-social-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #d7d3dc;
}

.footer-social-links i {
    padding-top: .5em;
    height: 4vh;
    width: 0.3em;
    font-size: 2.5em;
    transition-duration: 0.2s;
}

.footer-social-links i:hover {
    color: black;
}

.footer-navbar {
    display: flex;
    gap: 2em;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #d7d3dc;
}

/* Phones (landscape) */
@media only screen
and (orientation: landscape) {

}

/* Tablets (landscape) */
@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1080px) 
and (min-width: 1024px)
and (orientation: landscape) {

}

/* Tablets (portrait) */
@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1080px) 
and (orientation: portrait) {

}

/* Monitors */
@media only screen
and (min-width: 1367px) {

}